@charset "utf-8";
/*@import url(http://fonts.googleapis.com/css?family=Orbitron);*/
@font-face {
    font-family: 'NG';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
        url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}

/*리셋*/
* { margin: 0;  padding: 0; }
ol, ul { list-style: none; overflow: visible; }
a { outline: 0; text-decoration: none; color: #555; }
img { border: 0; vertical-align: top; }
li { list-style: none; }
html, body { 
    height: 100%; 
    background: #fff; 
}
body { 
    width: 100%;  
    min-width: 760px;
    font-family: 'NG', 'Helvetica', sans-serif;
    font-size: 12px; 
}

/*공통*/ 
.unvisible {
    visibility: hidden;
    height: 0px;
}
#body > p {
    position: fixed;
    left: 5px;
    bottom: 5px; 
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    z-index: 100;
}
.clearbox:after {
    content: "";
    display: block;
    clear: both;
}

/*토글 서브메뉴*/
.toggle-lnb {
    position: absolute;
    width: 32px;
    height: 5px;
    border-top: 13px double #0a9882;
    border-bottom: 13px double #0a9882;
    cursor: pointer;
    left: 20px;
    top: 50%;
    margin-top: -15px;
}
.toggle-lnb:hover {
    border-top-color: #da9529;
    border-bottom-color: #da9529;
}

/*메인헤더*/
.main-header {
    position: relative;
    width: 100%;
    height: 45px;
    background: #303030;
    overflow: visible;
    z-index: 1;
}
.main-header h1 {
    background: url(../img/logo_small.jpg) no-repeat 0px 0px;
    background-size: contain;
    text-indent: -9999px;
    position: absolute;
    width: 112px;
    height: 31px;
    left: 50%;
    top: 50%;
    margin-left: -56px;
    margin-top: -15px;
}
.page-indicator {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    color: #fff;
    font-size: 12px;
}
/*메인메뉴*/
.gnb {
    position: relative;
    width: 100%;
    border-top: 1px solid #191919;
    border-bottom: 1px solid #1f1f1f;
    background: #3b3b3b;
    height: 32px;
    z-index: 2;
}
.gnb li {
    float: left;
    width: 24.8888%;
    border-right: 1px solid #575757;
}
.gnb li:last-child {
    border-right: 0;
}
.gnb li a,
.lnb li a {
    display: block;
    height: 32px;
    text-align: center;
    font-size: 14px;
    padding-top: 8px;
    box-sizing: border-box;
}
.gnb a {
    background: #363636;
    color: #afafaf;
}
.gnb li.on a {
    background: #2d2d2d;
}
.gnb li:hover a,
.gnb li.on a {
    color: #fff;
}

.wrap {
    width: 100%;
}
/*서브메뉴*/
.lnb {
    position: relative;
    background: #4a4a4a;
    width: 100%;
    z-index: 3;
    display: none;
}
.lnb.on {
    display: block;
}
.lnb > ul > li {
    border-bottom: 1px solid #6f6f6f; 
}
.lnb > ul {
    display: none;
}
.lnb > ul.on {
    display: block;
}
.lnb a {
    background: #3f3f3f;
    color: #afafaf;
}
.lnb li:hover a, 
.lnb li.on a {
    color: #fff;
}

/*섹션(페이지)*/
.page-container {
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 4;
} 
section {
    min-height: 500px;
    display: none;
}
section.on {
    display: block;
}
div.page {
    height: 1000px;
    padding: 20px;
}
div.page h3 {
    font-size: 18px;
}

/*메인푸터*/
.main-footer span {
    
}

/*반응형*/
@media (min-width: 768px) {
    
}
@media (min-width: 768px) and (max-width: 1024px) { 
    .main-header {
        height: 60px;
    } 
}
@media (min-width: 1025px) {
    html, body {
        overflow: hidden;
    }
    .toggle-lnb {
        left: 15px;
    }
    .main-header {
        height: 100px;
/*        position: relative;*/
    } 
    .main-header h1 {
        margin-left: 45px;
        margin-top: -15px;
        left: 20px;
        top: 50%;
    }
    .gnb {
/*
        position: relative;
        top: 100px;
*/
    }
    .gnb li {
        width: 100px;
        box-sizing: border-box;
    }   
    .gnb li:last-child {
        border-right: 1px solid #575757;
    }
    .wrap {
        padding-right: 200px;
/*
        position: relative;
        top: 132px;
*/
        height: 100%;
        overflow: hidden;
    }
    .lnb {
        position: relative;
        float: left;
        width: 200px;
        height: 1000px;
    }
    .lnb ul {
/*        top: 0;*/
    }
    .lnb li a {
        text-align: left;
        padding-left: 15px;
    }
    .page-container { 
        float: left;
        position: relative;
        margin-right: -200px;
        overflow: scroll;
        width: 100%;
        height: 100%;
/*        width: 500px;*/
    }
}