@charset "utf-8";

.pages-container div.page {
    padding: 20px;
}
.pages-container .page-header > h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
/*    border: 1px solid red;*/
    color: #555;
}
.pages-container .page-body {
    margin-bottom: 15px;
}

/*폼 - 유닛*/
.form-unit {
    margin-bottom: 4px;
    max-width: 300px;
}
.form-unit > label { 
    float: left; 
    min-width: 100px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
} 
.form-unit span {
    display: block;
    overflow: hidden;
    height: 26px;
    line-height: 26px;
    /*말줄임표*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.form-unit > span > input { 
    padding: 1px 5px 0 5px;
    box-sizing: border-box;
    width: 100%; 
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.form-unit > button { 
    height: 26px;
    line-height: 26px;
    float: right;
    padding: 0 25px;
    font-size: 12px;
    margin-left: 4px;
}

/*폼 - 리스트*/
.form-list {
    border: 1px solid #ddd;
    overflow: auto;
} 
.form-list ol, .form-list ul {
    overflow: visible;
    max-width: 1000px;
}
.form-list > li {
    border-bottom: 1px solid #ddd;
    height: 25px;
    line-height: 26px;
    box-sizing: border-box;
}
.form-list > li:first-child {
    font-weight: bold;
}
.form-list > li:first-child > span:first-child {
    text-indent: -9999px;
}
.form-list > li:last-child {
    border-bottom: 0px solid #ddd;
}

/*폼 - 리스트 - 인덱스*/
.form-list > li span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    width: 75px;
    height: 100%;
    /*말줄임표*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-list > li span:first-child {
    /*3자리 사용안함(ex. 100 이상)*/
    width: 30px;
    text-overflow: clip;
} 
.form-list > li span button {
    width: 100%;
    height: 19px;
    font-size: 11px;
    padding-top: 2px;
    margin-top: 3px;
}

/*허용 길이*/
/*.form-list > li > span.short { 
width: 25px;
}*/
/*.form-list > li > span.normal { 
width: 75px;
}*/
.form-list > li > span.middle { 
    width: 100px;
}
.form-list > li > span.long { 
    width: 125px;
}
.form-list > li > span.wide { 
    width: 175px;
}
.form-unit.max { 
    max-width: none;
}

/*폼 - 셀렉트*/
.form-unit select { 
    padding: 1px 2px 0 2px;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    max-width: 200px;
    line-height: 26px;
    font-size: 12px;
}

/*폼 - 리스트 - 셀렉트*/
.form-list > li span select {
    width: 100%;
    height: 19px;
    font-size: 12px;
}

/*폼 - 탭 콘트롤 - 메뉴*/
.form-tab {
    margin-bottom: 4px;
}
.form-tab .form-tab-menu li {
    float: left;
    height: 26px;
    line-height: 26px;
    margin-top: 6px;
    margin-right: -1px;
}
.form-tab .form-tab-menu li.on {
    height: 32px;
    line-height: 32px;
    margin-top: 0;
    margin-right: -1px;
}
.form-tab .form-tab-menu li a {
    background: #eee;
    color: #555;
    border: 1px solid #ddd;
    border-bottom: 0px;
    border-radius: 5px 5px 0 0px;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box;
    display: block;
}
.form-tab .form-tab-menu li.on a {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 0px;
    font-weight: bold; 
    margin-top: 1px 
}

/*폼 - 탭 콘트롤 - 콘텐츠*/
.form-tab .form-tab-content {
    border: 1px solid #ddd;
    padding: 10px;
}
.form-tab .form-tab-content > li {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}
.form-tab .form-tab-content > li.on 
{
    display: block;  
}





