/*초기화*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'NG', 'Helvetica', sans-serif;
    min-width: 760px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'NG';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
        url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
/*특수*/
.clerabox:after {
    content: "";
    display: block;
    clear: both;
}
.hidden {
    display: none;
}
.body > p {
    position: fixed;
    right: 5px;
    bottom: 5px; 
    border: 1px solid red;
}
.gototop {
    position: fixed;
    left: 5px;
    bottom: 5px; 
    border: 1px solid red;
    /*text-indent: -99999px;*/
}
.noheader {
    visibility: hidden;
    height: 0px;
}
/*메인 헤더*/
.main_header {
    height: 45px;
    line-height: 45px;
    background: #da9529;
    background: #fff;
}
.main_header > h1 {
    color: #231f20;
    font-size: 24px;
    text-align: center;
}
/*메인 메뉴*/
.main_gnb {
    background: #231f20;
    overflow: hidden;
}
.main_gnb > ul {
    overflow: hidden;
    margin-left: 5px;
}
.main_gnb > ul > li {
    float: left;
    position: relative;
    height: 40px;
}
.main_gnb a {
    display: block;
    margin-top: 5px;
    padding: 5px 15px 6px 15px;
    color: #fff;
}
.main_gnb a:hover {
    color: #da9529; 
}
.main_gnb a:before {
    display: block;
    content: '';
    width: 1px;
    height: 15px;
    position: absolute;
    top: 13px;
    left: -1px;
    border-left: 1px solid #da9529;
}
.main_gnb a.active {
    background: #da9529;
    border-radius: 3px;
    color: #fff;
/*    font-weight: bold;*/
}
.main_gnb a.active:before {
    left: 0px;
}
/*콘텐츠 메뉴 토글 버튼*/
.main_header > .toggleBtn_content_lnb {
    background: #0a9882;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 5px;
    top: 5px;
    border-radius: 3px;
    text-indent: -99999px;
    overflow: hidden;
}
.main_header > .toggleBtn_content_lnb:before {
    content: "";
    position: absolute;
    top: 4px; left: 4px;
    width: 28px;
    height: 4px;
    border-top: 12px double #fff;
    border-bottom: 12px double #fff;
    cursor: pointer;
}
#toggleBtn_content_lnb:checked + .content_lnb {
    display: block;
} 
/*콘텐츠*/
.main_wrap {
    background: #f7f7f7; 
    overflow: hidden;
}
/*콘텐츠 메뉴 - 콘텐츠*/
.content_wrap > .content_lnb {
    display: none;
/*    display: block;*/
}
.content_wrap > .content_lnb > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: #666666;
    font-size: 14px;
    border-bottom: 2px solid #eee;
}
.content_wrap >.content_lnb > ul > li > a:hover {
    text-decoration: underline;
}
.content_wrap >.content_lnb > ul > li > a:active {
    color: #231f20;
}
/*콘텐츠 본문 - 콘텐츠*/
.main_wrap > .content_wrap {
/*    border: 1px solid lime;*/
}
.content_group {
    float: left;
    margin-right: -200px;
    width: 100%;
    *width: 99.9%; /*스타핵ie7버그*/
    background: #fff;
    min-height: 598px;
}  
/*섹션 - 콘텐츠*/
.content_section { 
/*    border: 1px solid red;*/
    display: none;
}
.active {
    display: block;
}
.content_section .content_header { 
    padding: 15px; 
    color: #0a9882;
}
.content_section .content_body { 
    padding: 15px;  
    color: #231f20;
    max-width: 725px;
}
/*푸터*/
.main_footer {
    padding: 10px;
    border-top: 1px solid #231f20;
    text-align: center;
}
.main_footer h4 {
    color: #bdb7af;
}
/*폼*/
.form_unit {
    padding: 2px 0;
    max-width: 300px;
}
.form_unit > label { 
/*    background: #ccc;*/
    float: left; 
/*    padding: 0 5px;*/
    padding-top: 1px;
    min-width: 100px;
    height: 32px;
    line-height: 33px;
    font-size: 14px;
/*    box-sizing: border-box;*/
} 
.form_unit > span {
    display: block;
    overflow: hidden;
} 
.form_unit > span > input { 
    padding: 0 5px;
    width: 100%; 
    height: 32px;
    line-height: 33px;
    box-sizing: border-box;
}
.form_unit > select { 
    width: 100%;
    max-width: 200px;
    height: 32px;
    padding: 0 5px;
    vertical-align: top;
}
.form_unit > select > option { 
    
}
.wide {
    max-width: 500px;
}
.form_unit > select ~ button { 
    margin-top: 0;
    left: 0;
}
.form_unit > button { 
    margin-top: 15px;
/*    float: right;*/
    left: 220px;
    position: relative;
/*    right: 0;*/
    padding: 0 25px;
    height: 32px;
    line-height: 32px;
}
/*리스트 - 폼*/
.form_list {
    margin-top: 10px;
    border: 1px solid #ddd;
    font-size: 12px;
/*    padding: 5px;*/
} 
.form_list > li {
    margin-top: 1px;
    border-bottom: 1px solid #ddd;
}
.form_list > li:last-child {
    border-bottom: 0px solid #ddd;
}
.form_list > li > span:first-child {
    width: 15px;
    padding-left: 10px;
    padding-right: 15px;
    text-overflow: clip;
}
.form_list > li > span {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 55px;
/*    max-width: 75px;*/
    border-right: 1px solid #ddd;
    height: 28px;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.form_list > li > span > select {
    margin-top: 3px;
    padding: 3px 0 2px 0;
}
.form_list > li > span.select { 
    width: 110px;
    padding-left: 5px;
    padding-right: 5px;
}
.form_list > li > span.select > select { 
    width: inherit;
}
.form_list > li > span.long { 
    width: 100px;
}
.form_list > li > span.date { 
    width: 70px;
}
.form_list > li > span.address { 
    width: 100px;
}
.form_list > li > button {
    width: 50px;
    margin-top: 4px;
    margin-right: 5px;
    height: 22px;
    vertical-align: top;
} 
.form_list > li:first-child {
    font-weight: bold;
}
/*
.form_unit > button[type="submit"] { 
    
}
*/
/*반응형*/
@media (min-width: 768px) {
    
}
@media (min-width: 768px) and (max-width: 1024px) { 
    .main_header {
        height: 60px;
        line-height: 60px;
    } 
    .main_header > .toggleBtn_content_lnb {
        top: 12px;
    }
    .content_wrap {
        padding-left: -200px;
/*        padding-right: 200px;*/
    }
    .content_wrap > .content_lnb {
        float:left; 
        width: 200px;
/*        margin-right: 200px;*/
    }
    .content_wrap > .content_body {
/*        padding-right: 200px;*/
    }
}
@media (min-width: 1025px) {
    .main_header {
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
    }
    .main_header > h1 {
        text-align: left;
    }
    .main_header > .toggleBtn_content_lnb {
        display: none;
    }
    .content_wrap {
        padding-right: 200px;
    }
    .content_wrap > .content_lnb {
        float:left; 
        width: 200px;
        display: block;
    }
}